.switch-container {
  position: relative;
  display: flex;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  background: #d5d5d5;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.switch-indicator {
  position: absolute;
  background-color: #ff9900;
  height: 30px;
  width: 50px;
  border-radius: 8px;
  transition: all 0.6s ease;
  z-index: 100;
}

.switch-indicator.left {
  left: 0;
}

.switch-indicator.right {
  left: 50px;
}

.left-item,
.right-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dark .switch-container {
  background: #252525;
}
